body {
    font-family: Verdana, regular;
    color: #495057;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vw;
}

.center-image {
    font-family: Verdana, regular;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

<style>
    .custom-text-color {
        color: #495057;
    }
</style>
