@page
@model IndexModel
@{
    ViewData["Title"] = "DSV Meeting Room Booking System";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DSV Meeting Room Booking System</h1>
</div>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
