@page
@model IndexModel
@{
    ViewData["Title"] = "DSV Meeting Room Booking System";
}

<div class="text-center">
    <p style="font-family: Abadi, regular; font-size: 45px; color: #495057;;">DSV Meeting Room Booking System</p>
</div>

<div
  <link rel="stylesheet" href="styles.css">
<img src="/images/DSV-8.jpg" style="width: 860px; height: auto; object-fit: contain; display: block; margin: auto; border-radius: 15px;">
</div>