@page
@model IndexModel
@{
    ViewData["Title"] = "DSV Meeting Room Booking System";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DSV Meeting Room Booking System</h1>
</div>

<img src="/images/DSV-8.jpg" alt="DSV meeting room" class="image-normal">
    <link rel="stylesheet" href="/css/styles.css">
</head>
