@page
@model IndexModel
@{
    ViewData["Title"] = "DSV meeting room booking system ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DSV meeting room booking system. </h1>
    
</div>
