@page
@model DSV_Book_a_room.Models.IndexModel
@{
    ViewData["Title"] = "Booking Form";
}

<h2>Booking Form</h2>

<form asp-action="SubmitBooking" method="post">>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</form>